<%- include('../_layout/header') %>

    <p><%= score %></p>
    <p>Uhodněte kdo řekl tuto hlášku:</p>
    <b><%= hlaska %></b>
    <p>Vyberte:</p>
    <form method="post" script="/hlasky/random" >
        <% odpovedi.forEach(ucitel => { %>
            <input type="submit" name="ucitel" value="<%= ucitel %>" /><br>
        <% }); %>
    </form>
    <a href="/hlasky/random?like=true">Přidat do oblíbených.</a>

<%- include('../_layout/footer') %>