<%- include('../_layout/header') %>
    <div class="container" style="display:flex; flex-direction: column; justify-content: center; width: 40%; min-height: 75vh; margin: 5vh auto;">
        <% if(quizDokoncen == true) { %>
            <div class="quiz-wrapper fixed-size">
                <p class="hlaska">Dosáhli Jste Skóre <%= score %></p>
            <% } else{ %>
            <div class="quiz-wrapper">
                <p class="hlaska">
                    „<%= hlaska %>“
                </p>
            <% } %>

            <% if(quizDokoncen == true) { %>
                <div class="quiz-buttonwrapper scroll-y" style="grid-template-columns: 1fr; grid-template-rows: 1fr;">
                    <div class="tlacitko odpovedi" style="padding: 2dvh 2vw">
                        <p>„<%= spatnaOdpoved[0] %>“</p>
                        <p style="color: red;"> <%= spatnaOdpoved[2] %> ✖</p>
                        <p style="color: lightgreen;" > <%= spatnaOdpoved[1] %> ✔</p>
                    </div>
                </div>
            <% } else{ %>
                <form method="post" script="/hlasky/random" >
                    <div class="quiz-buttonwrapper">
                        <% odpovedi.forEach(ucitel => { %>
                            <div class="tlacitko"><input class="odpoved" type="submit" name="ucitel" value="<%= ucitel %>" /><br></div>
                        <% }); %>
                    </div>
                </form>
            <% } %>

            <% if(quizDokoncen == true) { %>
                <div class="quiz-footer-button">
                    <a href="/web/index">Domů</a>
                    <a href="/hlasky/random?restart=true">Hrát Znovu</a>
                </div>
            <% } else{ %>
                <div class="quiz-footer">
                    <% if(liked == "★") { %>
                        <a class="liked" href="/hlasky/random?like=true"><%= liked %></a>
                    <% } else{ %>
                        <a href="/hlasky/random?like=true"><%= liked %></a>
                    <% } %> 
                    <p><%= score%></p>
                </div>
            <% } %>
        </div>
<%- include('../_layout/footer') %>