<%- include('../_layout/header') %>

    <p><%= score %></p>
    <p><%= odpoved %></p>
    <p>Uhodněte kdo řekl tuto hlášku:</p>
    <p class="hlaska"><%= hlaska %></p>
    <p>Vyberte:</p>
    <form method="post" script="/hlasky/random" >
        <% odpovedi.forEach(ucitel => { %>



            <div class="odpovedi">
                <input class="odpoved" type="submit" name="ucitel" value="<%= ucitel %>" /><br>
            </div>




                
                
        <% }); %>
    </form>



    <a href="">



<%- include('../_layout/footer') %>