<%- include('../_layout/header') %>
    <div class="container" style="display:flex; flex-direction: column; justify-content: center;width: 60%;">
        <div class="quiz-wrapper">
            <div class="hlaska-wrapper">
                <p class="hlaska">
                    <%= hlaska %>
                </p>

                <p class="score">
                    <%= score %>
                </p>
            </div>

            <form method="post" script="/hlasky/random">
                <% odpovedi.forEach(ucitel=> { %>
                    <div class="tlacitko"><input class="odpoved" type="submit" name="ucitel"
                            value="<%= ucitel %>" /></div>
                    <% }); %>
            </form>

            <a href="/hlasky/random?like=true">Přidat do oblíbených.</a>

        </div>
    </div>
    <%- include('../_layout/footer') %>