<%- include('../_layout/header') %>
<div class="container">

    <p><%= score %></p>
    <p><%= odpoved %></p>
    <p>Uhodněte kdo řekl tuto hlášku:</p>
    <p class="hlaska"><%= hlaska %></p>
    <p>Vyberte:</p>
    <form method="post" script="/hlasky/random" >
        <% odpovedi.forEach(ucitel => { %>
            <div class="odpovedi">
                <input class="odpoved" type="submit" name="ucitel" value="<%= ucitel %>" /><br>
            </div>  
        <% }); %>
    </form>
    
</div>
    
<%- include('../_layout/footer') %>