<%- include('../_layout/header') %>
<div class="container" style="display:flex; flex-direction: column; justify-content: center; width: 40%; min-height: 75vh; margin: 5vh auto;">
    <div class="quiz-wrapper">
        <p class="hlaska">
            <%= hlaska %>
        </p>

        <form method="post" script="/hlasky/uspesnost" >
            <div class="quiz-buttonwrapper">
                <% odpovedi.forEach(ucitel => { %>
                    <div class="tlacitko"><input class="odpoved" type="submit" name="ucitel" value="<%= ucitel %>" /><br></div>
                <% }); %>
            </div>
        </form>

        <div class="quiz-footer">
            <% if(liked == "★") { %>
                <a class="liked" href="/hlasky/uspesnost?like=true"><%= liked %></a>
            <% } else{ %>
                <a href="/hlasky/uspesnost?like=true"><%= liked %></a>
            <% } %> 

            <p><%= zodpovezeno + 1 %>/<%= plnyPocet %></p>
        </div>

    
</div>
<%- include('../_layout/footer') %>