<%- include('../_layout/header') %>
    <div class="container" style="display:flex; flex-direction: column; justify-content: center; width: 40%; min-height: 75vh; margin: 5vh auto;">
        <% if(quizDokoncen == true) { %>
            <div class="quiz-wrapper fixed-size">
                <p class="hlaska">Dosáhli Jste Úspěšnosti <%= vysledneSkore %>%</p>
            <% } else{ %>
            <div class="quiz-wrapper">
                <p class="hlaska">
                    „<%= hlaska %>“
                </p>
            <% } %>

            <% if(quizDokoncen == true) { %>
                <div class="quiz-buttonwrapper scroll-y">
                    <div class="tlacitko odpovedi">
                        <p>otázka</p>
                        <p>stupid odpověď</p>
                        <p>nice odpověď</p>
                    </div>

                </div>
            <% } else{ %>
                <form method="post" script="/hlasky/uspesnost" >
                    <div class="quiz-buttonwrapper">
                        <% odpovedi.forEach(ucitel => { %>
                            <div class="tlacitko"><input class="odpoved" type="submit" name="ucitel" value="<%= ucitel %>" /><br></div>
                        <% }); %>
                    </div>
                </form>
            <% } %>

            <% if(quizDokoncen == true) { %>
                <div class="quiz-footer-button">
                    <a href="/hlasky/uspesnost?restart=true">Hrát Znovu</a>
                    <a href="/web/index">Domů</a>
                </div>
            <% } else{ %>
                <div class="quiz-footer">
                    <% if(liked == "★") { %>
                        <a class="liked" href="/hlasky/uspesnost?like=true"><%= liked %></a>
                    <% } else{ %>
                        <a href="/hlasky/uspesnost?like=true"><%= liked %></a>
                    <% } %> 
                    <p><%= zodpovezeno + 1 %>/<%= plnyPocet %></p>
                </div>
            <% } %>
        </div>
<%- include('../_layout/footer') %>