<%- include('../_layout/header') %>
    <div class="container" style="min-height: 79vh; margin: 5vh auto 1vh auto">
        <h2 class="welcome-text">Vítej na svém profilu, <%= jmeno %>!</h2>
        <div class="profile-stats">
            <p>Nejvyšší Skóre V Náhlé Smrti: <%= highScore %></p>
            <a href="/uzivatel/odhlasit" style="color:red; font-weight: 600;text-decoration: none;">Odhlásit se</a>
            <p>^^^ tohle je provizorní, vypadá to jank, já vím</p>
        </div>

        <div class="lb-wrapper">
            <div style="margin: 0 auto;" class="lb"> <!-- T1 -->
                <p class="lb-nadpis">Tvé oblíbené uložené hlášky.</p>

                <% hlasky.forEach(hlaska=> { %>
                    <b>
                        <%= hlaska %>
                        <a href="/uzivatel/profil?hlaska=<%= hlaska %>" style="color:red; font-weight: 600;text-decoration: none;float: right;">Odebrat hlášku!</a>
                    </b> <br>
                    <% }); %>
            </div>
        </div>
    </div>
    <%- include('../_layout/footer') %>