<%- include('../_layout/header') %>
    <div class="container" style="min-height: 75vh; margin: 5vh auto 5vh auto">
        <h2 class="welcome-text">Vítej na svém profilu, <%= jmeno %>!</h2>
        <div class="profile-stats">
            <% if(highScore >= 1) { %>
                <p>Nejvyšší skóre v náhlé smrti: <b><%= highScore %></b></p>
            <% } %>

            <% if (typeof prumernaUspesnost != "string"){ %>
                <p>Průměrné skóre v bodovaném kvízu: <b><%= Math.round(prumernaUspesnost*100)/10%>%</b></p>
            <% } %>
        </div>
        
        <div class="lb-wrapper">
            <div class="lb"> <!-- T1 -->
                <h2 class="lb-head">Oblíbené hlášky</h2>
                <div class="hlasky-container">
                    <% for(let i = 0; i < hlasky.length; i++){ %>
                        <% if (hlasky[i] != "Nic Tady Není!"){ %>
                            <div class="hlasky-subcontainer">
                                <p>„<%= hlasky[i] %>“</p>
                                <p>- <%= ucitele[i] %></p>
                                <div style="text-align: right"><a href="/uzivatel/profil?hlaska=<%= hlasky[i] %>"><img src="/data_web/trash.svg"></a></div>
                            </div>
                            <% } %>
                            
                            <% if (hlasky[i] == "Nic Tady Není!"){ %>  <!-- else -->
                                <%= hlasky[i] %>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <a href="/uzivatel/confirmSmazani" style="color: red; text-decoration: none; position: absolute; bottom: 12vh; right: 1vw;">Smazat účet!</a>
                </div>
                <%- include('../_layout/footer') %>