<%- include('../_layout/header') %>
    <p>Vítejte na svém profilu, <b><%= jmeno %>!</b></p>
    <p>Vaše nejvyšší score: <%= highScore %></p>

    <a href="/uzivatel/odhlasit" style="color: red; text-decoration: none;">Odhlásit</a> <br>
    <% if (hlasky[0] != "Nemáte uloženné žádné hlášky!"){ %>
        <p>Vaše Oblíbené hlášky:</p>

    <% } %>
    <% hlasky.forEach(hlaska => { %>
        <b><%= hlaska %></b> <br>
    <% }); %>
<%- include('../_layout/footer') %>